/* @import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css'; */

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


    /* Custom marquee animation */
    @keyframes marquee1 {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-35%);
        }
      }
    @keyframes marquee2 {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-50%);
        }
      }
      .marquee {
          display: inline-block;
          white-space: nowrap;
          animation: marquee2 20s linear infinite;
      }
      .marquee-wrapper-1 {
        overflow: hidden;
        width: 100%;
        background-color: #b91c1c; /* Tailwind red-700 */
        color: white;
        padding: 0.5rem 1rem;
            .marquee {
                animation: marquee1 10s linear infinite;
                span{
                    font-size: 20px;
                }
            }
      }
      .marquee-wrapper {
        overflow: hidden;
        width: 100%;
        background-color: #b91c1c; /* Tailwind red-700 */
        color: white;
        padding: 0.5rem 1rem;
      }







    /* Scrollbar for sidebar */
    aside::-webkit-scrollbar {
      width: 6px;
    }
    aside::-webkit-scrollbar-track {
      background: transparent;
    }
    aside::-webkit-scrollbar-thumb {
      background-color: rgba(100, 116, 139, 0.5);
      border-radius: 3px;
    }






@tailwind base;
@tailwind components;
@tailwind utilities;


